body {
  background-color: rgb(235, 235, 235);
  text-align: center;
}

h1 {
  font-size: 50px;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  color: black;
}

h2 {
  font-size: 20px;
  font-family: "Montserrat Alternates", sans-serif;
  color: teal;
}

.big {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 50px;
  font-weight: 800;
}

p {
  font-size: 15px;
  font-family: "Montserrat Alternates", sans-serif;
}

h1 span {
  font-weight: 800;
}

a {
  font-size: 30px;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 800;
  text-decoration-line: none;
}
